---
layout: page
description: "Design Is Endless Trip"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">
        作者: {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} - 
        日期: {{ post.date | date: "%-d.%m.%Y" }}
        {% if post.tags.size > 0 %}
             - 歸類:
            {% for post_tag in post.tags %}
                {% assign fl = forloop %}
                {% for data_tag in site.data.tags %}
                    {% if data_tag.slug == post_tag %}
                        <a href="/tag/{{ data_tag.slug }}">{{ data_tag.name }}</a>{% if fl.last == false %}, {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; 更新文章</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">更舊文章 &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
